body {
  color: #fff;
  background: rgb(83, 79, 79);
}

.loading-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(204, 184, 184, 0.5);
}

.hidden {
  display: none;
}
